<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports-Parkinson Detection System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" href="{{url_for('static',filename='img/ibmlogo.png')}}">

</head>

<body>

    <header>
        <div class="heading-top">
            <h1 class="heading">Parkinson Detection System</h1>
            <ul class="menu">
                <li><a href="{{url_for('home')}} ">Home</a></li>
                <li><a href="{{url_for('info')}}">Info</a></li>
                <li><a href="{{url_for('predict')}}">Predict</a></li>
                <li><a href="{{url_for('reports')}}">Reports</a></li>
            </ul>
        </div>
    </header>

</body>

</html>